<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加学生</title>
	<link rel="stylesheet" href="../public/add.css">
</head>
<body>
	<form action="/index/add" method="post">
		<div>
			<label for="">姓名</label>
			<div>
				<input type="text" name='name'>
			</div>
		</div>
		<div>
			<label for="">年龄</label>
			<div>
				<input type="number" name='age'>
			</div>
		</div>
		<div>
			<label for="">语文</label>
			<div>
				<input type="number" name='chinese'>
			</div>
		</div>
		<div>
			<label for="">数学</label>
			<div>
				<input type="number" name='math'>
			</div>
		</div>
		<div>
			<label for="">英语</label>
			<div>
				<input type="number" name='English'>
			</div>
		</div>
		<input type="submit" value="提交">
	</form>
</body>
</html>